body {
    background-image: url('../img/pumpkin.jpg');
    background-size: 100% auto;
}

/*                                                    Header
 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \
*/

header {
    height: 300px;
    border: 3px solid black;
}

/*Логотип сайта */
.logo_contact {
    float: left;
    height:300px;
    width: 300px;
    background-image: url('../img/seal.png');
    background-size: 100% auto;
}
/*`Блок меню : Главная Каталог Контакты*/
.menu_contact{
    width: 500px;
    margin-left: 300px;
    font-family: 'Press Start 2P';
    list-style-type: none;
}

/* Главная меню  */
.basic_block{
    width: 200px;
    margin-left: 20px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
/* Каталог меню */
.catalog_block{
    width: 200px;
    margin-left: 120px;
    padding: 20px;
    font-size: 30px;
}
/* Контакты меню */
.contact_block{
    width: 200px;
    margin-left: 220px;
    padding: 20px;
    font-size: 30px;

}

/* анимация Главная Каталог Контакты */
.contact_block:hover, .catalog_block:hover, .basic_block:hover{
    /* Увеличение при наведении  */
    transform: scale(1.05);
    /* Скорость увелечения при наведении  */
    transition: .2s ease;
}

/*Убирает подчеркивания меню*/
.basic_block_a, .catalog_block_a, .contact_block_a {
    text-decoration: none;
    color: white;
}
/*                                                    Main
 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \
*/

.basic {
    float: left;
    margin-left: 10%;
    height: 1000px;
    width: 80%;
    box-shadow: inset 0 0 9px;
    border: 3px solid white;
}

.btn_create {
    height: 30px;
    width: 20%;
    background-color; ;
    font-family: 'Press Start 2P';
    list-style-type: none;
}


.tile_movie{
    height: 1000px;
    width: 100%;
    font-family: 'Press Start 2P';
    background-color: #DEB9B9;
    list-style-type: none;
    color: white;
}

/* Блоки с фильмами */
.alert-warning{
    float: left;
    width: 20%;
    height: 400px;
    margin-left: 3.7%;
    margin-top: 3.7%;
    text-align: center;
    border: 3px solid white;
    background-color: #C5BCBC;
    /*opacity: .4;*/
}
