{% extends 'main/layout.html' %}

{% block title %} {{ title }}  {% endblock %}

{% block content %}
    <div class="features">
        <h1> {{ title }} </h1>

    </div>
    <div class="index_second_html">
        <div>
            <h3> Зачем нужен сайт </h3>
        </div>
        <div class="indsec_pV1">
            <p>У меня с друзьями есть традиция, собираться раз в неделю и под кальян смотреть ужастики.<br>
            Но со временем возникла проблема, мы пересмотрели так много ужастиков, что стало трудно найти новые.
            <br>Я почесал репу и начал делать Телеграм-бота, в которого мы будем сгружать найденные фильмы, затем когда понадобиться,
                тот выдаст нам случайный из них. Но потом я подумал "... Зачем Бот, когда можно сайт.". Сижу теперь и мучаюсь с этим сайтом  </p>
        </div>
    </div>

    <div class="index_third_html">
        <h2> Задачи: </h2>
        <div class="indsec_pV2">
            <p> •Придумать нормальный дизайн (А лучше попросить Юлю, чтобы она своим дизайнерским взглядом придумала что-нибудь)<br>
            •Умудриться сверстать, то что придумаю<br>
            •Прописать алгоритм рандомайзера фильмов<br>
            •Наполнить базу фильмов<br>
            •Поменять третий и четвертый пункт местами
            </p>
        </div>
    </div>
{% endblock %}