body{
    background-image: url('../img/itvertical.jpg');
    background-size: 100% auto;
}

/*                                                    Header
 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \
*/
header {
    height: 300px;
}

/*Логотип сайта */
.logo {
    float: left;
    height:300px;
    width: 300px;
    background-image: url('../img/seal.png');
    background-size: 100% auto;
}
/*`Блок меню : Главная Каталог Контакты*/
.menu{
    margin-left: 300px;
    font-family: 'Press Start 2P';
    list-style-type: none;
}

/* Главная Menu  */
.basic_block{
    margin-left: 20px;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}
/* Каталог Menu */
.catalog_block{
    margin-left: 120px;
    padding: 20px;
    font-size: 30px;
}
/* Контакты Menu */
.contact_block{
    margin-left: 220px;
    padding: 20px;
    font-size: 30px;
}

/* анимация Главная Каталог Контакты */
.contact_block:hover, .catalog_block:hover, .basic_block:hover{
    /* Увеличение при наведении  */
    transform: scale(1.05);
    /* Скорость увелечения при наведении  */
    transition: .2s ease;
}

/*Убирает подчеркивания меню*/
.basic_block_a, .catalog_block_a, .contact_block_a {
    text-decoration: none;
    color: white;
}



/*                                                    Main
 _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _  _
/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \/ \
*/

.contact_m {
    height: 600px;
    width: 900px;
}

.first_block {
    float: left;
    height: 483px;
    width: 640px;
    background-image: url('../img/book.png');
    margin-left: 12%;
    margin-top: 12%;
}
.fb_mini {
    float: left;
    height: 340px;
    width: 220px;
    margin-left: 13%;
    margin-top: 8%;
}
.fb_miniv2 {
    height: 340px;
    width: 230px;
    margin-left: 53%;
    margin-top: 10%;
}