/*max
width == ширина обьекта
margin = отступы

*/

header{
    float: top;
    background: #BABABA;
    color: #FDD9D9;
    /* Край блоков */
    border-right: 2px solid #d4d4d4;
}
img{
    width: 90px;
    float: left;
}

/*__MAIN________MAIN________MAIN_______MAIN________MAIN_______MAIN_______MAIN_______MAIN_________*/

/*___ПЕРВЫЙ БЛОК_____________ _*/
main .features{
    float: center;
    width: 100%;
    color: #000000;
    background: #E6D3CA;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
}

/*___ВТОРОЙ БЛОК_____ЗачемНуженСайт___________ _*/
/* Второй блок index.html  */
main .index_second_html{
    float: left;
    width: 40%;
    margin: 10px;
    color: #000000;
    text-align: center;
    border: 6px solid #D2BDB3;
    background: #E6D3CA;
    /* шрифт Roboto Light 300 Italic */
    font-family: 'Roboto', sans-serif;
}
/* Текст indsec_pV1 */
.indsec_pV1 {
    float: left;
    margin-left: 60px;
    margin-bottom: 40px;
    width: 80%;
    color: #000000;
    text-align: center;
    /* шрифт Roboto Light 300 Italic */
    font-family: 'Montserrat', sans-serif;
}

/*___ТРЕТИЙ БЛОК_______Задачи______ _*/
main .index_third_html{
    float: left;
    width: 40%;
    margin: 10px;
    color: #000000;
    text-align: center;
    border: 6px solid #D2BDB3;
    background: #E6D3CA;
    /* шрифт Roboto Light 300 Italic */
    font-family: 'Roboto', sans-serif;
}
/* Текст indsec_pV1 */
.indsec_pV2 {
    float: left;
    margin-left: 60px;
    margin-bottom: 40px;
    width: 80%;
    color: #000000;
    text-align: left;
    /* шрифт Roboto Light 300 Italic */
    font-family: 'Montserrat', sans-serif;
}
/*_____about__________about__________about__________about__________about__________about_________about__________about__*/
/*___ПЕРВЫЙ БЛОК_____________ _*/
main .features_about{
    float: center;
    width: 100%;
    color: #000000;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

main .about_second_html{
    float: left;
    width: 40%;
    margin: 10px;
    color: #000000;
    text-align: center;
    border: 6px solid #AFCEC6;
    background: url('http://www.w3.org/2000/svg');
    /* шрифт Roboto Light 300 Italic */
    font-family: 'Roboto', sans-serif;
}

/* font-size == Размер шрифта */
main .features h1 { font-size: 50px;}

/*max-width == ширина обьекта    margin = отступы, между строчками внутри блока*/
main .features p {max-width: 500px; margin: 2px auto}



/* Блоки с фильмами */
.alert-warning{
    float: left;
    /*lear: both;*/
    background: #D1E8E2;
    width: 400px;
    margin: 20px;
    /* Определяет с какой стороне будут виджеты */
    text-align: center;
    border: 2px solid #d4d4d4;
}
/*____________________________________________________________________________________________________________________*/




/* Формы полей заполнения */
form {
    width: 32%;
    margin-top: 50px;
    margin-left: 430px;
}