{% extends 'main/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
    <div class="features">
        <h1>  {{ title }}  </h1>
        <p style="font-family:cursive;" > Никогда не знал, что о себе рассказать и не потому что нечего, просто когда я задаюсь этим вопросом в голове возникает мартышка с тарелками. </p>
        <p style="font-family:cursive;" >Это как, когда тебя спрашивают, какой фильм ужасов посмотреть. Ты вроде их пересмотрел десятки, но после заданоного вопроса можешь вспомнить, только пару штук</p>
        <button class="btn btn-danger" > Факты </button>
        <p><img src="" alt="Тут будет гифка с обезьянной "></p>
    </div>

{% endblock %}